<% @posts.each do |post|%>
  <ul><li>
  <%if post.image.attached?%>
    <div><%= image_tag post.image, {:style => "width:22px; height:22px;"}%>
  <%end%>
  <%= link_to post.title, post_path(post.id)%></div><br><br>
  </li></ul>
  <%= post.content%>
  <%= link_to "Delete-Post", post_path(post.id), method: :delete%><br><br>
<%end%>
<div>
  <%= link_to "Create-New-Post", new_post_path %>
  <%= link_to "Go-Back", root_path %>
</div>
</body>
