<% @posts.each do |post|%>
  <table>
    <tr>
      <th><%= link_to post.title, post_path(post.id)%></th><br><br>
      <td><span class="claimedRight" maxlength="20"><%= post.content%></span></td>
    </tr>
  </table>  
  <%= link_to "Delete-Post", post_path(post.id), method: :delete%>
  <%= link_to "Edit-Post", edit_post_path(post.id)%><br><br>
<%end%>
<br>
<div>
  <%= link_to "Create-New-Post", new_post_path %>
  <%= link_to "Go-Back", root_path %>
</div>
</body>
