<%if @post.errors.any? %>
  <% @post.errors.full_messages do |message|%>
  <%= message %>
<% end %>
<% end %>
<div style="font-size:15; border-style:solid; border-color:black; background-color: white;">
  <%if @post.image.attached?%>
    <%= image_tag @post.image, {:style => "width:100px; height:100px;"}%>
  <%end%>
  <div style = "color: black;">
    <div style = "text-align: center"><u><b><%= @post.title%></b></u></div><br><br><br>
    <%= @post.content%><br><br><br>
  </div>
</div>
<%= link_to "Delete-Post", post_path(@post.id), method: :delete, data: {confirm: "Are You Sure?"}%>
<%= link_to "Edit-Post", edit_post_path%>
<%= link_to "Go-Back", posts_path%>
