<%if @post.errors.any? %>
  <% @post.errors.full_messages do |message|%>
  <%= message %>
<% end %>
<% end %>
<%if @post.image.attached?%>
  <div><%= image_tag @post.image, {:style => "width:32px; height:32px;"}%>
<%end%>
<%= @post.title%><br><br><br></div>
<%= @post.content %><br><br><br></div>
<%= link_to "Delete-Post", post_path(@post.id), method: :delete%>
<%= link_to "Edit-Post", edit_post_path%>
<%= link_to "Go-Back", posts_path%>
